.tuition-fee {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.other-fees {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  color: #daa520;
}
span {
  font-size: 20px;
  color: #fff;
}
